body {
		font-family: Arial, sans-serif;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
		background: linear-gradient(to right, red , yellow); /* Standard syntax */
		margin-top: 170px;
}

h1 {
		font-family: Arial, sans-serif;
    font: 600 2.5em ;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
		font-family: Arial, sans-serif;
		font: 900 1em ;
    color: #fff;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
		font-weight: 50;
}
